*{
    padding: 10;
    margin: 10;
}

body {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 550px;
    margin-top: 50px;
    font-family: 'Quicksand';
}
